<html>
<head>
  <script src="assets/jquery-3.2.1.min.js"></script>
  <script src="assets/todo-list.js"></script>
  <link rel="stylesheet" href="assets/styles.css" type="text/css">
</head>
<body>
  <!--<h1><img src="assets/logo.png"></h1>-->
  <div id="todo-table">
    <form>
      <input type="text" name="item" placeholder="Add item..." required/>
      <button type="submit">ADD</button>
    </form>
    <ul>
      <% for(var i=0;i < todos.length;i++){%>
        <li><%=todos[i].item%></li>
        <%}%>
    </ul>
  </div>
</body>
</html>
